@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Student
<h4>Add a new student</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.FirstName)
  @Html.TextBoxFor(model => model.FirstName)

    @Html.LabelFor(model => model.LastName)
  @Html.TextBoxFor(model => model.LastName)

  @Html.Label("Select Course")
  @Html.DropDownList("CourseId")

  <input type="submit" value="Add new student" class="btn"/>

}

<p>@Html.ActionLink("Show all students", "Index")</p>